body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #B387EB; /* Sanity Check! */
}

h1 {
  margin-top: 50px;
  text-align: center;
}


.well-lg {
  padding-bottom: 70px;
}

/*#firstRacer {
  padding-left: 0px
}

#secondRacer {
  padding-left: 0px;
}*/
.racer {
  padding-left: 0px;
}

.buffer {
  padding-top: 250px;
}
.col-md-6{
  border: 1px dotted red;
}

#course-checkbox {
  text-align: center;
  margin:0 auto;
}
